force-app/main/default/flows/SortCommittedValueAndUncommittedValue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Order_Value</name>
        <label>Assign Order Value</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>MaximumOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Retrieved_Records.Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Retrieved_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_List</name>
        <label>Create List</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>UncommitedValueWithCommitedValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Junction_Object_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaximumOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedValue.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaximumOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UncommitedValueWithCommitedValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Commited_And_Uncommited_Values</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Commited_And_Uncommited_Values</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Commited And Uncommited Values</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>UncommitedValueWithCommitedValues</collectionReference>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>SortCommittedValueAndUncommittedValue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SortCommittedValueAndUncommittedValue</label>
    <loops>
        <name>Loop_On_Retrieved_Records</name>
        <label>Loop On Retrieved Records</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Junction_Object_Records</name>
        <label>Get Junction Object Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Retrieved_Records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JunctionObject__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Junction_Object_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddedValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JunctionObject__c</objectType>
    </variables>
    <variables>
        <name>MaximumOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UncommitedValueWithCommitedValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JunctionObject__c</objectType>
    </variables>
</Flow>
